<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Instituto</display-name>

    <servlet>
        <servlet-name>CreaSession</servlet-name>
        <servlet-class>controladoresServlet.CreaSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerSession</servlet-name>
        <servlet-class>controladoresServlet.VerSession</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>SinsertarAlumno</servlet-name>
        <servlet-class>servlets.SinsertarAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SinsertarProfesor</servlet-name>
        <servlet-class>servlets.SinsertarProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SmostrarAlumno</servlet-name>
        <servlet-class>servlets.SmostrarAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SmostrarProfesor</servlet-name>
        <servlet-class>servlets.SmostrarProfesor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controladorSalumno</servlet-name>
        <servlet-class>servlets.controladorSalumno</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SinsertarAlumno</servlet-name>
        <url-pattern>/SinsertarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SinsertarProfesor</servlet-name>
        <url-pattern>/SinsertarProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SmostrarAlumno</servlet-name>
        <url-pattern>/SmostrarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SmostrarProfesor</servlet-name>
        <url-pattern>/SmostrarProfesor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controladorSalumno</servlet-name>
        <url-pattern>/controladorSalumno</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
